

<h1>hello</h1>
<select name="source" id="country1">
	<option value="">Select Source Currency</option>
	<% @countrydatum.each do |country_data|%>
		<option value=<%=country_data.countryCode%>><%=country_data.countryDescription%></option>
	<% end %>	
</select>

<select name="source" id="country2">
	<option value="">Select Source Currency</option>
	<% @countrydatum.each do |country_data|%>
		<option value=<%=country_data.countryCode%>><%=country_data.countryDescription%></option>
	<% end %>	
</select>
<button>Click</button>
<div id="rate"></div>



<script type="text/javascript">
$(document).ready(function(){
	$("button").click(function(){
		// var c1 = document.getElementById("c1").value;
		var c1 = document.getElementById("country1").value;
		var c2 = document.getElementById("country2").value;
		
		

		$.ajax({

			url: 'https://currency-api.appspot.com/api/'+c1+'/'+c2+'.jsonp',
			dataType: "jsonp",
			data: {amount: '1.00'},
			success: function(response) {
				if (response.success) {
					$("#rate").html(response.rate);
				}
				else{
					$("#rate").html("Failed to retrieve");
				}
			}
		});
	});
});

// function function1() {
// 	var c1 = document.getElementById("c1").value;
// 	var c2 = document.getElementById("c2").value;
// 	alert(c1+c2);
// 	document.write(c1,c2);
// }

// $.ajax({
	
// 	url: 'https://currency-api.appspot.com/api/CAD/USD.jsonp',
// 	dataType: "jsonp",
// 	data: {amount: '1.00'},
// 	success: function(response) {

// 		if (response.success) {
			
// 			$("#rate").html(response.rate);
// 		}
// 	}
// });

</script>

<!-- https://sdw-wsrest.ecb.europa.eu/service/data/EXR/D.USD.EUR.SP00.A?startPeriod=2015-08-20&endPeriod=2015-08-31 -->